@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 26px;
    font-family: 'Noto Sans', sans-serif !important;
    color: snow !important;
}

a{
  text-decoration: none !important;
  color: white !important;
}


.nav-link{
  font-size: 1.1rem;
  margin: 10px;
  color: #1f1f1f !important;
}

.fixed-top{
  margin-top: 20px;
  padding: 20px;
}

.name{
    font-size: 1.5rem;
    color: black !important;
}

header p{
 text-align: center; 
 padding: 4px 8px 2px 8px;
 background-color: #fff44f;
 color: teal;
 margin-right: 10px;
}


#Home{
  min-height: 800px;
  background: #FC5C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.box_1{
  bottom: -130px !important;
  position: relative;
  min-height: 550px;
  border-radius: 12px;
  /* margin-top: 50px; */
  margin-bottom: 20px;
  color: #777777;
  background: #fff;
  box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
}

.box_1 img{
  padding: 10px;
  border-radius: 4%;
}

.personal_text{
  font-family: 'Roboto', sans-serif;
}

.personal_text h6{
  text-transform: uppercase;
  letter-spacing: 2.1px;
  font-size: 1.4rem;
  color: #222222;
}

.personal_text h3{
  font-size: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:  #222222;
  margin-bottom: 15px;
  font-weight: bold;

}
.personal_text h4{
  font-size: 16px;
  text-transform: uppercase ;
  color: #222222;
  margin-bottom: 20px;
}

.personal_text h5{
  font-size: 20px ;
}

.personal_text ul{
  margin-top: 20px;
  list-style: none;
}

.personal_text li{
  margin-bottom: 15px;
}

.personal_text .basic_info li a {
  position: relative;
  padding-left: 40px;
  font-size: 16px;
  color: #777777 !important;
}

.personal_text .basic_info li a i {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #766dff;
}

.personal_text .personal_social {
  margin-top: 45px;
}

.personal_text .personal_social li {
  display: inline-block;
  margin-right: 7px;
}

.personal_text .personal_social li a {
  line-height: 40px;
  width: 40px;
  background: #e8e8e8;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.personal_text .personal_social li a:hover{
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}

#About{
  color: #222222;
  padding-top: 120px;
  padding-bottom: 120px;
  font-family: 'Poppins', sans-serif !important;
}

.about-right{
  margin-left: 0 !important;
}

.welcome_text h4{
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 15px;
}


.welcome_inner{
  margin-left: 20px !important;
}

.wel_item{
  padding: 20px 20px;
  border: #eeeeee 1px solid;
}

.wel_item h4{
  font-size: 19px;
  text-align: start;
}

.wel_item p{
  text-align: start;
  margin-bottom: 0px;
}

.tools_expert{
  width: 70%;
}

.skill_item h4{
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: normal;
}


.progress_br{
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
}


.progress{
  height: 10px !important;
}

.progress-bar{
  transition: width .6s ease;
  height: 10px;
  border-radius: 5px;
  vertical-align: middle;
  align-self: center;
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%) !important;
}

#projects {
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  
  background: linear-gradient(to right, #38ef7d, #11998e); 
}

.card h5{
  font-weight: 700;
}

.card{
  font-family: 'Montserrat', sans-serif !important;
  border-top-left-radius: 10px !important ;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important ;
}

.card img{
  border-top-left-radius: 10px !important ;
  border-top-right-radius: 10px !important;
}

.card-body{
  color: black;
}

.card-img-top{
  height: auto;
  width: 100%;
}

.mb-4{
     padding: 0;
     margin:0;
     min-width: 200px;
     width: 100% !important;

 }
  
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f5f5f5;
    color: #222222;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    font-family: 'Poppins', sans-serif;
}

.contact-header h2{
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 60px;
}

#contact p{
    font-size: 1.5rem;
    font-style: italic;
}

.contact-links{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.ins{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
-webkit-background-clip: text;
/* Also define standard property for compatibility */
background-clip: text;
-webkit-text-fill-color: transparent;
}

.btn{
    margin-bottom: 30px;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
}

.cbtn{
        color: black !important;
        padding: 1rem;
        font-size: 1.6rem;
}

.cbtn:hover{
    opacity: 0.7;
}

.cform{
  display: flex;
  flex-direction: column;
}

.cform label{
  display: flex;
  justify-content: start;
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 500;
}

.cform input,textarea{
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: white;
}

.cform textarea{
  height: 100px !important;
  width: 350px !important;
  resize: none;
  margin-bottom: 20px;
}

footer{
    display: flex !important;
    justify-content: center !important;
    background-color: #303841;
    padding: 10px;
    border-top: 1px solid #be3144 ;
}



@media (max-width: 780px){
  .personal_text h5{
    font-size: 12px ;
  }

    #About{
      margin-top: 50px;
      margin-left: 30px;
    }

    #About h2{
      margin-top: 10px;
      text-align: start !important;
      font-size: 30px !important;
    }

    .box_1{
    bottom: -71px !important;
    border-radius: 0px;
    }

    nav{
      background-color: #1f1f1f;
    }

    .row{
      margin-right: 0 !important;
    }

    .nav-link{
      color: white !important;
      font-size: 14px;
    }

    .name{
      color: white !important;
    }

    .navbar-toggler{
      background-color: white !important;
      margin-right: 10px;
      font-size: 0.9rem !important;
    }

    .fixed-top{
      margin-top: 0px;
    }

    .tweet{
      margin-bottom: 40px;
    }

    header{
        flex-direction: column;
    }
   
    h2{
       font-size: 1rem !important;
   }
   
   h1{
       font-size: 1.9rem !important;
   }
   
   h3{
       /* width: 100px; */
       font-size: 1.2rem !important;
   }
   
   #contact{
       height: 100%;
   }
   
   .contact-header{
       margin-top: 70px;
   }
   
   .contact-links{
       margin-top: 10px;
   }

   .or{
     font-size: 2rem !important;
   }
    
    footer{
       display: none !important; 
    }
}



@media (max-width:920px) {
   .img-fluid{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 200px !important;
        margin-bottom: 10px;
    }
    }

    
